@CHARSET "UTF-8";
#filters {
	margin-top: 2em;
}

/* TABLES */

.filters table {
/* 	border-top: 1px solid #DFDFDF; */
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 0;
}

.filters tr {
	border: 0;
}

.filters td {
	padding: 0;
	text-align: left;
}
.filters ul {
	margin-top: 2em;
}

.filters_menu{
	
	margin-top: 2em;
}
.filters_list{
	
	margin-left: 2em;
}

.filters tr:hover {
          cursor: pointer;
        }
.filters li:hover {
          cursor: pointer;
        }
        .filters a{
	text-decoration: none;
	
}

.filters-menu:focus, .filters-menu:hover {
/* 	background-color: #999999; */
/* 	background: hsla(40, 40%, 100%, 0.8); */
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.filters tr:focus, .filters tr:hover {
/* 	background-color: #999999; */
/* 	background: hsla(40, 40%, 100%, 0.8); */
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
        