
body {
/* 	background: #808080; */
	background: url(../../images/sermo/old-paper.png) no-repeat center center fixed;
    /*background-repeat:no-repeat;*/
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	/*color: #333333;*/
	/*margin: 0 auto;*/
	/*max-width: 960px;*/
	/*overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	 /*  -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #ffff00;*/
	        
}



#sermoBg {
	
	background: hsla(40, 40%, 100%, 0.8);
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    overflow-y:auto;
    overflow-x:auto;
    min-height:85vh;  
/*     margin-bottom: 3vh;  */
/* 	position: relative;  */
	border: .1em solid #400000;
	margin: 1em 1em 1em;
	padding: 1em;
/* 	width: 12em; */
/*  	float: left;  */
	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #ccc;
/* 	-moz-border-radius: 0.6em; */
/* 	-webkit-border-radius: 0.6em; */
/* 	border-radius: 0.6em; */
}

.footer {
	background: hsla(40, 40%, 100%, 0.8);
/* 	background: url(../../images/sermo/old-paper.png) no-repeat center center fixed; */
/* 	background: url(../../images/sermo/old-paper_footer.png) no-repeat center center fixed; */
    /*background-repeat:no-repeat;*/
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
/* 	color: #000; */
	clear: both;
/* 	font-size: 0.8em; */

	margin-top: 1.5em;
	padding: 0.8em;
	height: 3vh;
	position: fixed;
    bottom: 0;
    overflow-x:hidden;
    
    border: .1em solid #400000;
	margin-left: 1em;
	margin-right: 1em;
/* 	padding: .25em; */
/* 	width: 12em; */
/*  	float: left;  */
	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #ccc;
/* 	-moz-border-radius: 0.6em; */
/* 	-webkit-border-radius: 0.6em; */
/* 	border-radius: 0.6em; */
}

.header {

/* background: url(../../images/sermo/old-paper.png) no-repeat center center fixed; */
background: hsla(40, 40%, 100%, 0.8);
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

	clear: both;

	margin-top:0;
	padding: 0.8em;



	border: .1em solid #400000;
	margin-left: 1em;
	margin-right: 1em;

	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #ccc;
/* 	-moz-border-radius: 0.6em; */
/* 	-webkit-border-radius: 0.6em; */
/* 	border-radius: 0.6em; */
}

.bibl{
	
	color: #ff0000;
	font-weight: bold;
}

.quote{
	
	color: #000080;
	font-weight: bold;
}

.note{
	color: #0080ff;
	font-weight: normal;
	
}

.catchWord{
	color: #ff8040;
	font-weight: normal;
	
}

/* .pageBreak{ */
/* //	color: #696969; */
/* //	font-weight: normal; */
	
/* } */

.par{
	color: #696969;
	font-weight: normal;
	
}
.italic{
/* 	color: #8000ff; */
	font-style: italic;
}
.bold{
	font-weight: bold;

}
									
.underline{
	text-decoration: underline;
}

.superscript{
	vertical-align: super;
	font-size:80%;
}

.subscript{
	vertical-align: sub;
	font-size:80%;
}
.strikeThrought{
	text-decoration: line-through;
}

.smallItalic{
	font-size:80%;
		font-style: italic;
}							
							
								
								
.sic{
	color: #00ff00;
	text-decoration: line-through;
}
.abbr{
	color: #00ff00;
	
}

.content {
	margin-bottom:0;
/*  min-height:100vh;  */
}
#doc-container {
/* min-height:	height:100%;  */
margin-bottom: 1vh;
}

.container {
/* 	height:100vh;  */
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  border: solid;
}
.docInfo{
	font-size:120%;
	font-weight: bold;
display: flex;
  align-items: center;
  justify-content: center;
}

.currentPageImage{
	width:80%;
}
.margin{
	display: inline-block;
}
.moreThan1{
	font-size:70%;
}
.selectPage{
	padding: 1em;
	
}




ul#docInfoTabs >li{
	
	display: inline;
    position: relative;
}

ul#docInfoTabs > li.selected {
/*     background: #fff; */
     color: #800000; 
/*     background-color: #ddd; */
/*     overflow : hidden; */
    text-decoration: underline;
}

ul#docInfoTabs > li:hover {
    color: #000000;
    background-color: #800000; 
}

ul#docInfoTabs {
	
	list-style-type: none;
}

.status {

	border: .1em solid #400000;
	margin: 1em 1em 1em;
	padding: .25em;
/* 	width: 12em; */
/*  	float: left;  */
	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #ccc;
/* 	-moz-border-radius: 0.6em; */
/* 	-webkit-border-radius: 0.6em; */
/* 	border-radius: 0.6em; */
}

.imageThumb{
	width:80%;
	
}

.pageImage{
	
  display: flex;
  align-items: center;
  justify-content: center;
}


.pageBreak{
	
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.docPartToShow{
	font-size:100%;
	font-weight: bold;
	text-align:center;
}

.docToShow{
	text-align:center;
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
}
