
body {
/* 	background: #808080; */
   background-color: #ffffff !important;
	/*background: url(../../images/sermo/old-paper.png) no-repeat center center fixed;*/
    /*background-repeat:no-repeat;*/
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	/*color: #333333;*/
	/*margin: 0 auto;*/
	/*max-width: 960px;*/
	/*overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	 /*  -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #ffff00;*/
	        min-width:1150pt;
	  overflow: scroll; 
/* 	  height:90vh;   */
  display: flex;
  flex-direction:column;
 
  height:auto !important;
  
}



#footer {
	background-color:#6699CC ;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	margin-top: 1.5em;
   -moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #ccc;
    width: 100%;
    font-size:10pt;
}

.footer_logo{
	height:40pt;
	width: 100pt;
}
.footer_logos{
	
	width: 100%;
}

.logo{
	height: 30pt;
}

#header {
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-color:#CCCCCC;
 	margin:1em 2%; 
	padding: 1em;
 	display: flex;
  	align-items: center;
	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #ccc;
	height: 40pt;
}

.bibl{
	
	color: #808080;
	font-weight: bold;
	cursor: pointer;
}
/* .bibl:hover, .bibl:focus{ */
/* 	outline: none; */
/* 	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); */
	
/* } */

.quote{
	
	color: #808080;
	font-weight: bold;
	cursor: pointer;
}
/* .quote:hover, .quote:focus{ */
/* 	outline: none; */
/* 	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); */
	
/* } */
.note{
	color: #6699CC;
	font-weight: normal;
	
}

.foot{
/* 	position: absolute; */
/* 	bottom:0; */
   margin-top: 10pt;
	
}

.catchWord{
	color: #CCCCCC;
	font-weight: normal;
	float:right;
	
}

/* .pageBreak{ */
/* //	color: #696969; */
/* //	font-weight: normal; */
	
/* } */


.content {
/* 	display: -webkit-box;      OLD - iOS 6-, Safari 3.1-6 */
/*   display: -moz-box;         OLD - Firefox 19- (buggy but mostly works) */
/*   display: -ms-flexbox;      TWEENER - IE 10 */
/*   display: -webkit-flex;     NEW - Chrome */
/*   display: flex;             NEW, Spec - Opera 12.1, Firefox 20+ */
	font-family:"AndronScriptorWeb";
	margin-bottom:0;
/* 	display: flex; */
/*   flex-direction:row; */
/*   align-items: center; */
/*   justify-content: center; */
   height:auto !important;  
   min-height:75vh
}

/* .content_center{ */
/* 	font-family:"AndronScriptorWeb"; */
/* 	margin-bottom:0; */
/* 	display: flex; */
/*   flex-direction:column; */
/*   align-items: center; */
/*   justify-content: center; */
/*    height:auto !important;   */
/* } */
#doc-container {
height: auto !important;
font-family:"AndronScriptorWeb";

margin-bottom: 1vh;

}
#coll-container {
height: auto !important;
font-family:"AndronScriptorWeb";
font-size:14pt;
margin-bottom: 1vh;

}

.container {
/* 	height:100vh;  */
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  border: solid;
}
.docInfo{
	font-size:120%;
	font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
}

.currentPageImage{
	
	height:500pt;
}
.margin{
	display: inline-block;
}
.moreThan1{
	font-size:70%;
}
.moreThan1 > .par{
	width:fit-content;
	max-width:fit-content;
	width:-moz-fit-content;
	max-width:-moz-fit-content;
}
.moreThan1 > .margin-left{
	margin-left:-12%;
	width:12%;
}
.moreThan1 > .margin-right{
	margin-right:-12%;
	width:12%;
}
.selectPage{
	padding: 1em;
	display: flex;
/*   flex-direction:column; */
  align-items: center;
  justify-content: center;
	
}

.selectPageNav{
	margin: 0 .25em;
	padding: 0 .25em;
	font-family:"AndronScriptorWeb";
    font-size:14pt;
	
}

/*DOC INFO*/
#docInfoTabs{
	
	display: flex;

  align-items: center;
  justify-content: center;
}


ul#docInfoTabs >li{
	
	display: inline;
    position: relative;
}

ul#docInfoTabs > li.selected {
/*     background: #fff; */
     color: #6699CC; 
/*     background-color: #ddd; */
/*     overflow : hidden; */
    text-decoration: underline;
}

ul#docInfoTabs > li:hover {
   background-color: #999999;
	background: hsla(40, 40%, 100%, 0.8);
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

ul#docInfoTabs {
	
	list-style-type: none;
}

.status {

/* 	border: .1em solid #400000; */
	margin: .5em .5em .5em;
	padding: .25em;
/* 	width: 12em; */
/*  	float: left;  */
	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #ccc;
/* 	-moz-border-radius: 0.6em; */
/* 	-webkit-border-radius: 0.6em; */
/* 	border-radius: 0.6em; */
}


#equipe {

/* 	border: .1em solid #400000; */
/* 	margin: 1em 0em 1em 1em; */
/* 	padding: 0em 1em; */
/* 	width: 12em; */
/*  	float: left;  */
/* 	-moz-box-shadow: 0px 0px 1.25em #ccc; */
/* 	-webkit-box-shadow: 0px 0px 1.25em #ccc; */
/* 	box-shadow: 0px 0px 1.25em #ccc; */
/* 	-moz-border-radius: 0.6em; */
/* 	-webkit-border-radius: 0.6em; */
/* 	border-radius: 0.6em; */
display: flex;
flex-direction:column;
  align-items: center;
  justify-content: center;
}

#person-info{
	margin: 1em 1em 1em;
	padding: 1em;
	
}
.imageThumb{
	width:80%;
	
}

.pageImage{
	
  display: flex;
  align-items: center;
  justify-content: center;
/*   height:400; */
  
}


.pageBreak{
	
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size: 12pt; 
  padding-bottom: 1em;
}

.docPartToShow{
	font-size:100%;
	font-weight: bold;
	text-align:center;
}

.docToShow{
	text-align:center;
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
}


#bottomContent{
/* 	position: absolute; */
/*     bottom: 0; */
/*     left: 0; */
	display: flex;

  align-items: center;
  justify-content: center;
}

/* NAVIGATION MENU */
#navigation-bar{
	margin-left: 2em;
/* 	margin-right: 16%; */
	padding-left: 1em;
	padding-right: 1em;
/* 	background: hsla(40, 40%, 100%, 0.8); */
	font-size:20pt;
/* 	display:block; */
/*  	float:left;  */
/*width:100%;*/

}



.nav {
/* 	background: hsla(40, 40%, 100%, 0.8); */
	text-align:center;
}

.nav ul {
	overflow: hidden;
	padding: 0;
	padding-left: 0;
	margin: 0;
	zoom: 1;
	
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
/* 	margin-right: 0.5em; */
	padding: 0;
}

.nav a {
	color: #6699CC !important;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
/* 	   -moz-border-radius: 0.3em; */
/* 	-webkit-border-radius: 0.3em; */
/* 	        border-radius: 0.3em; */
}

.nav a:active, .nav a:visited {
	color: #6699CC;
}

.nav a:focus, .nav a:hover {
/* 	background-color: #999999; */
/* 	background: hsla(40, 40%, 100%, 0.8); */
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}


/*DOC DISPLAY*/
.par{
	/*color: #696969;*/
	font-weight: normal;
	/*width:fit-content;*/
	width:60%;
	width: -moz-fit-content;
	max-width: 70%;
	text-align:justify;
}
.italic{
/* 	color: #8000ff; */
	font-style: italic;
}
.bold{
	font-weight: bold;

}
									
.underline{
	text-decoration: underline;
}

.superscript{
	vertical-align: super;
	font-size:80%;
}

.subscript{
	vertical-align: sub;
	font-size:80%;
}
.strikeThrought{
	text-decoration: line-through;
}

.smallItalic{
	font-size:80%;
		font-style: italic;
}							
							
								
								
.sic{
	color: #800080;
/* 	text-decoration: line-through; */
}
.del{
	/*color: #800080;*/
/* 	text-decoration: line-through; */
}
.abbr{
	color: #804040;
	
}


span.lettrine{
	
	font-size:250% !important;
	z-index:10;
}

@font-face { font-family: AndronScriptorWeb; src: url('../../font/AndronScriptorWeb.ttf'); } 


.margin-left {
display:block;
float:left;
margin-left:-20%;
width:20%;
margin-bottom:0;
margin-top:0;
clear:left;
overflow:visible;
font-size:80%;
/* letter-spacing:1px; */
text-align:left;
text-indent:0%;
}


.margin-right {
font-size:80%;
/* letter-spacing:1px; */
float:right;
margin-right:-20%;
margin-bottom:0;
margin-top:0;
clear:right;
overflow:visible;
text-align:left;
width:20%;
text-indent: 0%;
}

ul.liste_main  {
	padding: 0 40px;	
	margin: 0;
	
}

.about_list {
/* 	background: hsla(40, 40%, 100%, 0.8); */
	text-align:center;
}

.about_dropdown-content li {
	float: none;
}


.about_dropdown-content {
    display: none;
    position: absolute;
    background-color: #CCCCCC;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.about_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.about_dropdown-content a:hover {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	}

.about_dropdown:hover .about_dropdown-content {
    display: block;
}


.ui-tooltip-content {
    font-size:10pt;
    font-family:AndronScriptorWeb;
}

.equipe-label{
	
	font-size: 10pt;
}

#query{
	
	font-size: 12pt;
	margin-right: 4%;
	border-color:#6699cc;
	font-style:italic;
}

#query_btn{
/* background-image: url(../../images/skin/search-icon.png);*/
    font-size:12pt;
    font-family:AndronScriptorWeb;
    line-height: 1em;
}

#pageSelect_menu{
	 font-size:10pt;
    font-family:AndronScriptorWeb;
	
}

.btn{
	
	cursor: pointer;
}

.hit{
	
	background-color: #6699cc;
}


#v_beta{
	font-size: 20pt;
    color: #CC0000;
    margin-top: -25pt;
    text-align: right;
    font-family:AndronScriptorWeb;
    font-style: italic;
}

#searchDoc{
	
/* 	margin: 2pt; */
	
}